<div class="container">

    <div class="row" id="header">
        <div class="col-12">
            <h1>Listagem dos Meus Repositórios</h1>
        </div>
    </div>

    <div>
        <table class="table text-center table-striped">
            <thead>
                <th> Id </th>
                <th> Nome </th>
            </thead>
            <tbody>
                <tr *ngFor="let repository of repositories">
                    <td scope="col">{{repository.id}}</td>
                    <td scope="col">{{repository.name}}</td>
                </tr>
            </tbody>
        </table>
        <ng-content></ng-content>
    </div>
</div>
